.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;


}

body {
    height: auto;

}


/* small */
@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}

/* larg */
@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*start navbar*/

.navbar {
    background-color: #fff;
    box-shadow: #04ddb2;
    height: 80px;
}

.navbar .container {

    /* background-color: red;*/
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left {

    justify-content: center;
    align-self: center;
}

.left {
    font-size: 24px;
}

.center {
    background-color: white;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.right {
    background-color: green;
    justify-content: center;
    align-self: center;
}

.btn {
    padding: 10px;
    border-radius: 20px;
    width: 130px;
    border: none;
    height: auto;
    background-color: #04ddb2;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}


.listlink {
    padding: 10px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;


}

ul {

    list-style: none;
}

ul li {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;

}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

span {
    display: none;

}

@media (max-width : 767px) {

    .center {

        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        left: 0;
        top: 82px;
        width: 100%;
        height: 80vh;
        display: none;

    }

    .navbar .container .listlink {}

    .navbar .container .listlink {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        position: relative;
        height: auto;


    }

    .navbar .container .listlink li {
        padding: 15px;
        padding-left: 0;
        margin: 20px 0;
    }

    .dawn {
        margin: 60px 0;
        width: 100%;
        padding: 0 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        padding: 10px;
        border-radius: 20px;
        width: 90%;
        border: none;
        height: 47px;
    }


    .borger {
        position: absolute;
        display: block;
        right: 15px;
        top: 25px;
        cursor: pointer;

    }
}

.close {
    position: absolute;
    right: 15px;
    top: 25px;
    display: none;
}

/*end navbar*/
/*start landing*/
.landing {
    background-color: #fff;
    height: auto;
    padding: 60px 20px;
}

.landing .title,
p {
    font-size: 50px;
    text-align: center;
    padding: 20px 0;

}

.landing p {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 30px;
    color: #767676;


}

.landing .dawn {

    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {

    color: #04ddb2;
}

/*end landing*/
/*start video*/
#show-video {

    padding: 40px;
}

#show-video .container {
    height: 80vh;
    background-color: #fff;
}

#show-video .container img {
    width: 100%;
    height: 80vh;

    border-radius: 20px;

}

/*end video*/
/*end footer*/
.footer {
    background-color: #fff;
    height: auto;
    padding: 20px;
}

.footer .container {
    border-top: 1px solid #767676;
}

.footer .colms {
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.footer .colms h1 {
    margin-bottom: 20px;
}

.footer .colms ul li {
    margin-bottom: 20px;
}


@media (max-width : 767px) {
    .footer .colms {
        flex-wrap: wrap;

    }


    .footer .colms .col5 {}

    .footer .colms .col {
        margin-left: 20px;
        margin-top: 10px;
    }

    .footer .colms .col4 {
        margin-left: 35px;
    }

    .footer .colms .col2 {
        margin-left: 15px
    }

    .footer .colms .col1 {
        margin-top: -15px;
    }

    .footer .colms .col5 ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/*end footer*/